<div class="col-md-6 push-3">
    <h1>Create Form</h1>

    <form (ngSubmit)="addProduct()" #addForm="ngForm" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text"
                   class="form-control"
                   name="name"
                   id="name" required
                   [(ngModel)]="product.name">
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" name="category" id="category" [(ngModel)]="product.category" required>
                <option *ngFor="let item of categories" [value]="item">{{item}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" name="price" class="form-control" id="price" required [(ngModel)]="product.price">
        </div>
        <div class="form-group">
            <label for="image-url">ImageUrl</label>
            <input type="file" (change)="fileChange($event)" name="uploadFile" class="form-control" id="image-url"
                   required
                   [(ngModel)]="product.imageUrl" accept=".jpg, .png, .jpeg">
        </div>
        <label for="activated">Activated</label>
        <input type="checkbox" name="activated" id="activated" style="width: 20px"
               [(ngModel)]="product.activated">
        <br>
        <button type="submit" class="btn-success btn-block">Create</button>
    </form>

</div>
