<div class="col-md-6 push-3">
    <h1>Create Form</h1>

    <form #updateForm="ngForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text"
                   class="form-control"
                   name="name"
                   id="name" required
                   [(ngModel)]="product.name">
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" name="category" id="category" [(ngModel)]="product.category" required>
                <option *ngFor="let item of categories" value="category">{{item}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" name="price" class="form-control" id="price" required [(ngModel)]="product.price">
        </div>
        <div class="form-group">
            <label for="image-url">ImageUrl</label>
            <input type="text" name="imageUrl" class="form-control" id="image-url" required
                   [(ngModel)]="product.imageUrl">
        </div>
        <label for="isActivated">isActivated</label>
        <input type="checkbox" name="isActivated" id="isActivated" style="width: 20px"
               [(ngModel)]="product.isActivated">
        <br>
        <button type="submit" class="btn-success btn-block">Create</button>
    </form>

</div>
